
  <form [formGroup]="form" (ngSubmit)="savePassword()" class="mt-5">

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input matInput
               placeholder="Hasło"
               type="password"
               formControlName="currentPassword"
               [errorStateMatcher]="matcher">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="currentPassword.invalid">{{ getCurrentPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nowe hasło</mat-label>
        <input matInput
               placeholder="Hasło"
               type="password"
               formControlName="newPassword"
               [errorStateMatcher]="matcher">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="newPassword.invalid">{{ getNewPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Potwierdź hasło</mat-label>
        <input matInput
               placeholder="Potwierdź hasło"
               type="password"
               formControlName="confirmPassword"
               [errorStateMatcher]="matcher">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="confirmPassword.invalid">{{ getPasswordConfirmErrorMessage() }}</mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit" class="my-4">Zapisz</button>
  </form>
  <alert *ngIf="invalid" type="danger">
    {{ errorMessage }}
  </alert>
  
