
<mat-toolbar class="mb-3">
  <span>Zestaw dnia</span>
  <span class="toolbar-spacer"></span>
  <app-menu-buttons *ngIf="authService.isAdmin()"
                    [buttons]="buttons"
                    (onButtonClick)="onButtonClick($event)">
  </app-menu-buttons>
</mat-toolbar>
<div *ngIf="!mainMenuItem; else showMainMenuItem">
  Brak zestawu dnia
</div>
<ng-template #showMainMenuItem>
  <div *ngFor="let dish of mainMenuItem.dishes" class="col-md-6 col-lg-4">
    <app-main-menu-item-dish-card [dish]="dish">
    </app-main-menu-item-dish-card>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12 text-center font-weight-bolder font-size-bigger mb-2">
        {{ mainMenuItem.price | currency : '' : ''  }} zł
      </div>
      <div class="col-12 text-center mb-4">
        Dostepne porcje:
        <span *ngIf="mainMenuItem.available > 0; else noProducts">{{ mainMenuItem.available }}</span>
        <ng-template #noProducts>
          brak
        </ng-template>
      </div>
      <div *ngIf="!authService.isAdmin()" class="col-12 text-center mb-3">
        <button mat-flat-button color="primary">
          DODAJ DO KOSZYKA
        </button>
      </div>
    </div>
  </div>
</ng-template>
