@media (max-width: 767px) {
  .img-circle {
    width: 80px;
    height: 50px;
    border-radius: 100%;
  }
}

@media (min-width: 768px) {
  .img-circle {
    width: 100px;
    height: 70px;
    border-radius: 100%;
  }
}

th {
  border-top: none;
  font-weight: 500;
}

td {
  vertical-align: middle !important;
}

mat-icon {
  font-size: 42px;
  width: 42px;
  height: 42px;
}
