/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vw;
  margin: auto;
}

.container-img img {
  max-width: 100%;
  max-height: 100%;
}

.container-main {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

.mat-tooltip {
  font-size: 12px !important;
  margin-top: 15px !important;
}

.position-block {
  display: block !important;
}

.position-inline {
  display: inline-block;
}

.mat-form-field-appearance-outline:focus {
  border-color: #3f51b5;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(0,0,0,.12);
}

button:focus {
  outline: none;
}

.element-center {
  display: table;
  margin: auto;
}

/*.cursor-pointer {
  cursor: pointer !important;
}*/

.width-max {
  width: 100%;
}

.tab-content-border {
  border: 1px solid rgba(0,0,0,.12);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bg-lightgray {
  background-color: #F7F9F9;
}

.img-default-dimensions {
  max-height: 157.5px !important;
  width: 150px !important;
}

.mat-card-title,
.mat-card-header {
  font-size: 16px !important;
}

.font-size-bigger {
  font-size: 20px !important;
}
