<header>
  <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Jagienka</a>

      <div class="navbar-collapse collapse d-sm-inline-flex"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/menu']">Menu</a>
          </li>
          <li *ngIf="isAdmin()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin/dishes']">Dania</a>
          </li>
        </ul>
      </div>
      <div>
        <button *ngIf="!loggedIn(); else userProfileLink"
                mat-button
                class="nav-mat-button"
                [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/login']">Zaloguj się</button>
        </mat-menu>
        <ng-template #userProfileLink>
          <button mat-button class="nav-mat-button" [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/user/data']">Twoje dane</button>
            <button mat-menu-item (click)="logout()">Wyloguj się</button>
          </mat-menu>
        </ng-template>
        <span *ngIf="!isAdmin()">
          <app-nav-cart-button></app-nav-cart-button>
        </span>
      </div>

    </div>
    <button mat-button
            class="d-sm-none"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <mat-icon *ngIf="!isExpanded">menu</mat-icon>
      <mat-icon *ngIf="isExpanded">menu_open</mat-icon>
    </button>
  </nav>
</header>

