  
<div class="row justify-content-center my-5">
  <div class="col-12 col-sm-5 col-md-4 col-lg-3 mb-5">
    <app-categories-button-toggle-group (onToggleCategory)="toggleCategory($event)">
    </app-categories-button-toggle-group>
  </div>
  <div class="col-8 col-sm-6 col-md-8 col-lg-9">
    <app-main-menu-item-view *ngIf="currentSelectedCategoryId === categoryMainItem ||
                             currentSelectedCategoryId === categoryAll"
                             [main-menu-item]="mainMenuItem"
                             class="row justify-content-center bg-lightgray mb-4"
                             (onDeleteMainMenuItem)="removeMainItem()">
    </app-main-menu-item-view>
    <app-ordinary-menu-items-view *ngIf="currentSelectedCategoryId !== categoryMainItem"
                                  [filtered-menu-items]="filteredMenuItems"
                                  (onDeleteItem)="removeItemFromMenu($event)"
                                  (onUpdateItem)="updateItem($event)">
    </app-ordinary-menu-items-view>
  </div>
</div>


