
  <form [formGroup]="form" (ngSubmit)="onSave()" class="p-4 tab-content-border">
    <div class="mb-2">
      <mat-form-field appearance="outline" class="position-block">
        <mat-label>Danie</mat-label>
        <input type="text"
               matInput placeholder="Danie"
               formControlName="dishId"
               [matAutocomplete]="autoGroup"
               (keyup)="filterDishes()"
               [errorStateMatcher]="matcher" />
        <mat-error *ngIf="dish.invalid">{{getDishErrorMessage()}}</mat-error>
        <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="getSelectedDishName">
          <mat-optgroup *ngFor="let group of filteredDishesGroup" [label]="group.categoryName">
            <mat-option *ngFor="let dish of group.dishes" [value]="dish">
              {{dish.name }} - {{ dish.amount }} szt.
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="mb-2">
      <mat-form-field appearance="outline" class="position-block">
        <mat-label>Cena</mat-label>
        <input matInput
               formControlName="price"
               placeholder="Cena"
               type="number"
               step="0.01"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="price.invalid">{{ getPriceErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="position-block" >
        <mat-label>Ilość dostępnych porcji</mat-label>
        <input matInput
               formControlName="limit"
               placeholder="Ilość dostępnych porcji"
               type="number"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="limit.invalid">{{ getLimitErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit" class="mt-2 mb-4">Dodaj</button>
  </form>
