
<form [formGroup]="form" (ngSubmit)="onSave()">
  <h4 class="mb-2">Dodaj pozycję Menu</h4>
  <div class="mb-2">
    <mat-form-field appearance="outline">
      <mat-label>Danie</mat-label>
      <input type="text"
             matInput placeholder="Danie"
             formControlName="dishId"
             [matAutocomplete]="autoGroup"
             (keyup)="filterDishes()" />
      <mat-error *ngIf="dish.invalid">{{getDishErrorMessage()}}</mat-error>
      <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="getSelectedDishName">
        <mat-optgroup *ngFor="let group of filteredDishesGroup" [label]="group.categoryName">
          <mat-option *ngFor="let dish of group.dishes" [value]="dish">
            {{dish.name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Ilość dostępnych porcji</mat-label>
      <input matInput formControlName="limit" placeholder="Ilość dostępnych porcji" type="number">
      <mat-error *ngIf="limit.invalid">{{getLimitErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" class="my-4">Dodaj</button>
</form>
