
  <form [formGroup]="form" (ngSubmit)="register()">
    <h3>Rejestracja</h3>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint *ngIf="email.pending">Sprawdzam...</mat-hint>
        <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input matInput placeholder="Hasło" type="password" formControlName="password">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Potwierdź hasło</mat-label>
        <input matInput
               placeholder="Potwierdź hasło"
               type="password"
               formControlName="confirmPassword"
               [errorStateMatcher]="mismatchErrorMatcher">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="form.hasError('mismatch')">{{ getMismatchErrorMessage() }}</mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit" class="my-4">Zarejestruj</button>
  </form>
