
  <mat-card class="dish-card mb-4">
    <img *ngIf="menuItem.dish.mainPhoto; else defaultImage"
         mat-card-image src="/uploads/{{ menuItem.dish.mainPhoto.thumbnailName }}"
         alt="">
    <ng-template #defaultImage>
      <div class="text-center">
        <img mat-card-image src="/uploads/{{ defualtImg }}" alt="" class="img-default-dimensions">
      </div>
    </ng-template>
    <mat-card-header>
      <mat-card-title class="mb-1">
        {{ menuItem.dish.name }}
        <span *ngIf="menuItem.dish.amount > 1">({{ menuItem.dish.amount }} szt.)</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>{{ menuItem.dish.category.name }}</mat-card-subtitle>
    <mat-card-content>
      <div class="text-center font-weight-bolder card-product-price mb-2">
        {{ menuItem.dish.price | currency : '' : '' }} zł
      </div>
      <div class="text-center">
        Dostępne porcje:
        <span *ngIf="menuItem.available > 0; else noProducts">{{ menuItem.available }}</span>
        <ng-template #noProducts>
           brak
        </ng-template>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button mat-button color="primary" (click)="showModal(menuItem)">EDYTUJ LIMIT</button>
      <button mat-button color="warn" (click)="deleteItem(menuItem.id)">USUŃ</button>
    </mat-card-actions>
  </mat-card>
