
<mat-tab-group class="mb-5">
  <mat-tab label="Dodaj danie">
    <app-admin-menu-form (onCreateMenuItem)="addMenuItem($event)"></app-admin-menu-form>
  </mat-tab>
  <mat-tab label="Dodaj zestaw dnia"> Content 2 </mat-tab>
</mat-tab-group>

<div class="row justify-content-center mt-4">
  <div class="col-12 col-sm-5 col-md-4 col-lg-3 mb-5">
    <app-categories-button-toggle-group (onToggleCategory)="toggleCategory($event)">
    </app-categories-button-toggle-group>
  </div>
  <div class="col-8 col-sm-6 col-md-8 col-lg-9">
    <app-main-menu-item-view [mainMenuItem]="mainMenuItem"
                             class="row justify-content-center bg-lightgray mb-4"
                             (onUpdateMainMenuItem)="updateMainMenuItem($event)">
    </app-main-menu-item-view>
    <div class="row bg-lightgray">
      <mat-toolbar color="accent" class="mb-3">Pozostałe dania</mat-toolbar>
      <div *ngIf="filteredMenuItems.length === 0; else showMenuItems">
        Brak zapisanych dań
      </div>
      <ng-template #showMenuItems>
        <div *ngFor="let item of filteredMenuItems" class="col-md-6 col-lg-4">
          <app-admin-dish-card [menuItem]="item"
                               (onDeleteMenuItem)="removeItemFromMenu($event)"
                               (onUpdateMenuItem)="updateItem($event)">
          </app-admin-dish-card>
        </div>
      </ng-template>

      <ng-template #noItems>Brak zapisanych dań.</ng-template>
    </div>
      
  </div>
</div>


