
<button *ngIf="menuItemQuantity < 1; else showItemQuantity"
        mat-flat-button color="accent"
        (click)="addItemToCart()"
        [disabled]="available === 0">
  DODAJ DO KOSZYKA 
</button>
<ng-template #showItemQuantity>
  <button mat-mini-fab (click)="removeItemFromCart()">
    <mat-icon>remove</mat-icon>
  </button>
  <span class="px-4">
    {{ menuItemQuantity }}
  </span>
<button mat-mini-fab (click)="addAnotherItemToCart()" [disabled]="menuItemQuantity >= available">
  <mat-icon>add</mat-icon>
</button>
</ng-template>

