<div class="row">
  <div class="col col-md-6">
    <h4>Zapisane kategorie dania</h4>
    <mat-list *ngIf="categories" role="list">
      <div *ngFor="let category of categories">
        <mat-list-item role="listitem">
          {{ category.name }}
          <span class="element-right">
            <button mat-icon-button type="button" (click)="openEditCategoryDialog(category)">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="removeCategory(category.id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
    <button class="mt-4" mat-raised-button (click)="openNewCategoryDialog()">Nowa kategoria</button>
  </div>
</div>
