<mat-sidenav-container class="sidenav-container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <mat-nav-list>
      <a *ngFor="let button of buttons"
          mat-list-item
          [routerLink]="[button.link]"
          class="px-3"
          (click)="close()">
        {{ button.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="sidenavContent">
    <body>
      <app-nav-menu [sidenav]="sidenav"></app-nav-menu>
      <div class="container-main">
        <app-spinner></app-spinner>
        <div class="container mt-5">
          <router-outlet></router-outlet>
          <div class="scroll-top" [ngClass]="{'visible': offset > 500}">
            <button mat-mini-fab class="btn-scroll-top" (click)="scrollToTop()" [disabled]="offset <= 500">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>