
<h1 mat-dialog-title>Edytuj ilość dostępnych porcji</h1>
<div mat-dialog-content [formGroup]="form" class="pb-3">
  <mat-form-field appearance="outline">
    <mat-label>Ilość dostępnych porcji</mat-label>
    <input matInput placeholder="Ilość dostępnych porcji" type="number" formControlName="limitControl">
    <mat-error *ngIf="limitControl.invalid">{{getLimitErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions class="pb-3 content-right">
  <button mat-stroked-button class="mr-2" (click)="onCloseClick()">Zamknij</button>
  <button mat-stroked-button
          color="primary"
          [disabled]="limitControl.invalid"
          [mat-dialog-close]="limitControl.value"
          cdkFocusInitial>
    Zapisz
  </button>
</div>
